.our-spaces__container {
  @include centering-main;
  padding-bottom: 117px;
}
.our-spaces__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our-spaces__title {
  display: flex;
  @include font-lora;
  font-size: 40px;
  line-height: 51px;
  color: $primary-blue;
}
.our-spaces__subtitle {
  @include font-main;
  max-width: 452px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: $primary-grey;
}
.our-spaces__navigation {
  min-width: 168px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// .our__spaces__arrow-left {
//   margin: 5px;
//   position: relative;
//   display: block;
//   width: 50px;
//   height: 3px;
//   background-color: $secondary-grey;
//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     width: 14px;
//     height: 2px;
//     background-color: inherit;
//     transform: rotate(-50deg) translateY(-6px) translateX(1px); 
//  }
//   &::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     width: 14px;
//     height: 2px;
//     background-color: inherit;
//     transform: rotate(50deg) translateY(6px) translateX(1px); 
//   }
// }
// .our__spaces__arrow-right {
//   position: relative;
//   display: block;
//   width: 80px;
//   height: 3px;
//   background-color: $secondary-grey;
//   transform: rotate(180deg);
//   cursor: pointer;
//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     width: 14px;
//     height: 2px;
//     background-color: inherit;
//     transform: rotate(-50deg) translateY(-6px) translateX(1px); 
//  }
//   &::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     width: 14px;
//     height: 2px;
//     background-color: inherit;
//     transform: rotate(50deg) translateY(6px) translateX(1px); 
//   }
// }