.reviews__container {
  @include centering-main;
  padding-bottom: 148px;
  @media (max-width: 991px) {
    padding: 10px;
    padding-bottom: 33px;
  }
}
.reviews__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
  @media (max-width: 991px) {
    padding-bottom: 20px;
  }
}
.reviews__intro {
  @include font-main;
  position: relative;
  margin: 0;
  padding-bottom: 8px;
  color: $primary-black;
  &::after {
    position: absolute;
    content: '';
    top: 15px;
    left: 85px;
    width: 73px;
    height: 2px;
    background-color: $primary-black;
  }
}
.reviews__title {
  @include font-lora;
  max-width: 399px;
  margin: 0;
  padding-right: 10px;
  font-size: 40px;
  line-height: 51px;
  color: $primary-blue;
  @media (max-width: 991px) {
    font-size: 32px;
    line-height: 40px;
  }
}
.reviews__navigation {
  align-self: end;
}
.reviews__slider {
  position: relative;
  & .slick-arrow {
    position: absolute;
    top: -70px;
    width: 70px;
    height: 70px;
    z-index: 10;
    font-size: 0;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
    @media (max-width: 1120px) {
      display: none;
    }
  }
  & .slick-arrow.slick-prev {
    left: 870px;
    background: url('../images/icons/arrow-left.svg') 0 0 / 100% no-repeat;
  }
  & .slick-arrow.slick-next {
    right: 0;
    top: -104px;
    background: url('../images/icons/arrow-left.svg') 0 0 / 100% no-repeat;
    transform: rotate(180deg);
  }
}
.reviews__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  padding: 47px 40px 35px 40px;
  max-width: 445px;
  min-height: 393px;
  background-color: $primary-blue;
  @media (max-width: 991px) {
    padding: 30px;
    min-width: 350px;
  }
  @media (max-width: 490px) {
    padding: 30px;
    min-width: 250px;
  }
}
.reviews__text {
  @include font-main;
  margin: 0;
  min-height: 238px;
  
  font-size: 16px;
  line-height: 26px;
  color: $primary-white;
  @media (max-width: 490px) {
    font-size: 14px;
  }
}
.reviews__author {
  display: flex;
}
.reviews__author-photo {
  padding-right: 16px;
}
.reviews__image {
  border-radius: 50%;
  background-color: $primary-black;
}
.reviews__author-data {
  @include font-bold;
  display: flex;
  flex-direction: column;
  color: $primary-white;
}
.reviews__author-name {
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 28px;
  @media (max-width: 490px) {
    font-size: 14px;
  }
}
.reviews__author-line {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  @media (max-width: 490px) {
    font-size: 12px;
  }
}
