*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  min-width: 320px;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.slick-list {
  overflow: hidden;
}
.slick-track{
  display: flex;
}
.slick-arrow {
  position: absolute;
  top: -70px;
  width: 70px;
  height: 70px;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

.slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 10px;
}
.slick-dots li.slick-active{
  background-color: $primary-black;
  border-radius: 50%;
}
.slick-dots li{
  margin: 0 10px;
  list-style: none;
}
.slick-dots li button{
  display: flex;
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: $third-grey;
  border-radius: 50%;
  border: none;
  cursor: pointer
}