$primary-black: #222831;
$primary-white: #fff;
$secondary-white: #F8F8F8;
$primary-red: #DD2C00;
$primary-orange: #FF5722;
$secondary-orange: #b63812;
$primary-grey: #6A6A6A;
$secondary-grey: #9A9A9A;
$third-grey: #E5E5E5;
$primary-blue: #10375C;
$secondary-blue: #0D2C4A;
